html {
  background-color: rgb(243, 245, 246);
  color: rgb(48, 48, 48);
  font-family: sans-serif;
}

select {
  height: 26px;
}



.stripe {
  color: rgb(82, 149, 196);
}

.platform {
  color: rgb(201, 76, 92);
  color: rgb(104, 39, 46);
}

h3 {
  color: rgb(64, 116, 153);
  font-family: "Times New Roman", Times, serif;  
  }
  
.flow_form {
  margin-bottom: 16px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 0.5px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 2px;
  display: none;
  overflow: hidden;
}

input[type="radio"]:checked+label{ 
background-color: rgba(52, 49, 61,0.75); 
color: rgb(244, 244, 244);
  height: 20%;
}

input[type="radio"]:checked:hover+label{ 
background-color: rgba(52, 49, 61,0.75);
color: rgb(244, 244, 244);
} 


input[type="radio"] + label {
  padding:4px 8px;
  color: rgb(244, 244, 244);
  margin-top: 12px;
  margin-right: 15px;
  display: inline-block;
  line-height: 32px;
  width: 14%;
}

.flow-form {
  display: block;
}
input[type="radio"] + label:first-child{
 display: block;
}

input[type="radio"] + label:last-child{
 width: 26.5%;
}

input[type="radio"] + label:hover { 
    background-color: rgba(52, 49, 61,0.4);
    color: rgb(244, 244, 244);
    cursor: pointer;
}

input[type="radio"] + label:active {
     background-color: rgba(52, 49, 61,0.75);
}

input[type="text"] {
    width: 200px;
    margin: 8px 0;
    padding: 6px 10px;
    box-sizing: border-box;
     display: block;
     height: 28px;
}

input[type="text"] + label{
    display: block;
    text-align: left;
}

#button_div {
  width: 360px;
}

button {
  margin: 0 auto;
  margin-left: 114.645px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: 0;
    margin-top: 12px;
    box-shadow: 0 0 2px 2px rgb(237, 237, 237);
}

button:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(0, 125, 168);
  box-shadow: inset 0 0 2px rgb(237, 237, 237);
  
}

button:active {
  background-color: rgb(0, 114, 158);
  color: white;
  outline: 0.5px solid blue;
}

button:focus {
  outline: none;
}

#outcome {
  margin-top: 21px;
  display: none;
}

h4 {
  font-size: 22px;
  color: rgb(44, 79, 81);
  //text-align: center;
}

.group-options {
  background-color: rgba(57, 142, 115,0.5);
  padding: 1px 40px 16px 20px;
  
  width: 300px;
  margin-bottom: 20px;
 
  
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
   border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.group-options  {
  display: block;
  margin-bottom: 10px;
  margin-top: 16px;;
  
}

.group-options * {
  display: block;
  margin-bottom: 10px;
  
}
.group-options label span{
  display: inline;
}

.group-options label{
  color: white;
  
}

.connected-form {
  background-color: rgba(57, 123, 142, 0.5);
}

.connected-form h4 {
  color: rgb(37, 81, 94);
}

.platform-form {
   background-color: rgba(142, 57, 66, 0.5);
}

.platform-form input[type="text"] {
  width: 40%;
}

.platform-form h4 {
  color: rgb(104, 39, 46);
}

.charge-form input[type="text"]{
  display: inline-block;
  width: 40%;
  margin-top: 0;
}
.charge-form select{
  display: inline-block;
  clear: right;
}

.charge-form {
    padding-bottom: 2px;
}
.charge-form {
  background-color: rgba(124, 119, 142,0.75);
}

.charge-form h4 {
  color:rgb(52, 49, 61);
}